<header class="text-left title">
</header>
<section id="category-pane" class="meta">
</section>
<section id="content-pane" class="">
  <div class="col-md-12 text-justify content">
    {{ .Content }}
  </div>
</section>
<section id="tag-pane" class="meta">
  {{ if ne .Params.showpagemeta false }}
  <div class="col-md-12">
    <h6 class="text-right meta">
      {{ if isset .Params "tags" }}
      {{ $total := len .Params.tags }}
      {{ if gt $total 0 }}
      TAGS:
      {{ $subtotal := sub $total 1 }}
      {{ range $i, $tag := sort $.Params.tags }}
      <a class="meta" href="{{ "/tags/" | relURL }}{{ $tag | urlize }}">{{ $tag | upper }}</a>{{ if lt $i $subtotal }}, {{ end }}
      {{ end }}
      {{ end }}
      {{ end }}
    </h6>
  </div>
  {{ end }}
</section>
