<div>
<video class="video-shortcode" preload="{{ .Get "preload" }}" width=32%  controls style="float:left;margin-right:2%">
	<source src="{{ .Site.BaseURL }}/{{ .Get "src1" }}" type="{{ .Get "type" }}">
  </video>
  <video class="video-shortcode" preload="{{ .Get "preload" }}" width=32% controls style="float:left;margin-right:2%">
	<source src="{{ .Site.BaseURL }}/{{ .Get "src2" }}" type="{{ .Get "type" }}"></video>
</video>
<video class="video-shortcode" preload="{{ .Get "preload" }}" width=32% controls >
<source src="{{ .Site.BaseURL }}/{{ .Get "src3" }}" type="{{ .Get "type" }}"></video>
<br>
<br>
</div>
